<?xml version="1.0" encoding="utf-8"?>
<Context reloadable="true" crossContext="true">
	<Resource 
	    auth="Container" 
	    name="jdbc/dbmubdv" 
	    type="javax.sql.DataSource"
		driverClassName="oracle.jdbc.driver.OracleDriver"
		url="jdbc:oracle:thin:@10.61.183.6:1550:mubdev"
		username="APLMUBWEB"
		password="dev_web#31" 
		minActive="1" 
		maxActive="50" 
		maxIdle="5" 
		maxWait="1000"
		removeAbandoned="true" 
		removeAbandonedTimeout="300" 
		logAbandoned="false"
		initialSize="8" 
		validationQuery="select 1 from dual" 
		testOnBorrow="true"
		testWhileIdle="true" 
		timeBetweenEvictionRunsMillis="10000"
		minEvictableIdleTimeMillis="60000"
		factory="org.apache.tomcat.dbcp.dbcp.BasicDataSourceFactory" />
</Context>