<div id="loading_screen" ng-show="ctrl_consulta.isLoading"><img src="resources/images/loader.gif" alt="Carregando..."><h5>Por favor aguarde...</h5></div>

<div style="max-width:645px; text-align: center;">

	<div class="window-body2 panel-body" >
	
	    <div class="panel panel-default">
	      <div class="panel-heading">Espacialização Dados / Filtros</div>
	      <div class="panel-body">
	        <dl class="dl-horizontal">
	            <dt>UF:</dt><dd class="ng-binding" style="text-align: left">{{ctrl_consulta.filtroEspacializacaoDados.estado.nome}}</dd>
	            <dt ng-show="ctrl_consulta.filtroEspacializacaoDados.municipio.nome && ctrl_consulta.filtroEspacializacaoDados.municipio.nome != ''">Município:</dt><dd class="ng-binding" style="text-align: left">{{ctrl_consulta.filtroEspacializacaoDados.municipio.nome}}</dd>
	            <dt ng-show="ctrl_consulta.filtroEspacializacaoDados.localidade.nome && ctrl_consulta.filtroEspacializacaoDados.localidade.nome != ''">Localidade:</dt><dd class="ng-binding" style="text-align: left">{{ctrl_consulta.filtroEspacializacaoDados.localidade.nome}}</dd>
	            <dt ng-show="ctrl_consulta.filtroEspacializacaoDados.descricaoSituacaoUsuario && ctrl_consulta.filtroEspacializacaoDados.descricaoSituacaoUsuario != ''">Usuários:</dt><dd class="ng-binding" style="text-align: left">{{ctrl_consulta.filtroEspacializacaoDados.descricaoSituacaoUsuario}}</dd>
	            <dt ng-show="ctrl_consulta.filtroEspacializacaoDados.usuario.nome && ctrl_consulta.filtroEspacializacaoDados.usuario.nome != ''">Nome:</dt><dd class="ng-binding" style="text-align: left">{{ctrl_consulta.filtroEspacializacaoDados.usuario.nome}}</dd>
	            <dt ng-show="(ctrl_consulta.filtroEspacializacaoDados.dataInicioFormatada && ctrl_consulta.filtroEspacializacaoDados.dataInicioFormatada != '') || (ctrl_consulta.filtroEspacializacaoDados.dataFimFormatada && ctrl_consulta.filtroEspacializacaoDados.dataFimFormatada != '')">Período:</dt><dd class="ng-binding" style="text-align: left">{{ctrl_consulta.filtroEspacializacaoDados.dataInicioFormatada}}<span ng-show="ctrl_consulta.filtroEspacializacaoDados.dataFimFormatada && ctrl_consulta.filtroEspacializacaoDados.dataFimFormatada != ''"> até </span>{{ctrl_consulta.filtroEspacializacaoDados.dataFimFormatada}}</dd>
	        </dl>
	      </div>
	    </div>
    	
		<table class="table table-bordered table-striped table-hover">
			<tr id="order_consultaBasica">
				<th style="text-align: center; width: 10px; background-color: darkgrey;"><input type="checkbox" ng-model="ctrl_consulta.checkAllEspacializacaoDados" ng-click="ctrl_consulta.checkAllAtributos()" /></th>
				<th style="text-align: center; width: 190px; background-color: darkgrey;">Espacialização de Dados</th>
				<th style="background-color: darkgrey; text-align: center;" colspan="2">Espacializado</th>
				<th style="background-color: darkgrey; text-align: center;" colspan="2">Não Espacializado</th>
				<th style="background-color: darkgrey; text-align: center;">Porcentagem</th>
			</tr>
		    <tr ng-repeat="item in ctrl_consulta.listAtributosEspacializacaoDados">
		    	<td style="text-align: center; width: 10px;"><input type="checkbox" ng-model="item.checked" ng-change="ctrl_consulta.checkAtributo(item, item.checked)" ng-click="ctrl_consulta.checkAllEspacializacaoDados = false" /></td>
		    	<td style="text-align: left;" >{{item.descricao}}</td>
		    	<td style="text-align: center; width: 130px;">{{item.espacializado}}</td>
		    	<td style="text-align: center; width: 63px;">
		    		<a href="#" ng-show="item.espacializado != '-' && item.espacializado != '0'" ng-click="ctrl_consulta.exportarDetalhado('excel', item.id, 1)"><i class="icone-excel"/></a>
		    		<a href="#" ng-show="item.espacializado != '-' && item.espacializado != '0'" ng-click="ctrl_consulta.exportarDetalhado('pdf', item.id, 1)"><i class="icone-pdf"/></a>
		    	</td>
		    	<td style="text-align: center; width: 130px;">{{item.naoEspacializado}}</td>
		    	<td style="text-align: center; width: 63px;">
		    		<a href="#" ng-show="item.naoEspacializado != '-' && item.naoEspacializado != '0'" ng-click="ctrl_consulta.exportarDetalhado('excel', item.id, 0)"><i class="icone-excel"/></a>
		    		<a href="#" ng-show="item.naoEspacializado != '-' && item.naoEspacializado != '0'" ng-click="ctrl_consulta.exportarDetalhado('pdf', item.id, 0)"><i class="icone-pdf"/></a>
		    	</td>
		    	<td style="text-align: center; width: 130px;">{{item.porcentagem}}</td>
		    </tr>	    	    		
		</table>
	</div>
	<div>
		<button type="button" class="btn btn-default btn-sm" ng-click="ctrl_consulta.consultar();">Consultar</button>&nbsp;
		<button type="button" class="btn btn-default btn-sm" ng-click="ctrl_consulta.limpar()">Limpar</button>&nbsp;
		<button id="btnExportarExcel" type="button" class="btn btn-default btn-sm" ng-disabled="!ctrl_consulta.habilitarBtnExportarEspacializacaoDados"
			ng-click="ctrl_consulta.exportar('excel');" ><i class="icone-excel"></i> Exportar Excel </button>
		<button id="btnExportarPDF" type="button" class="btn btn-default btn-sm" ng-disabled="!ctrl_consulta.habilitarBtnExportarEspacializacaoDados"
			ng-click="ctrl_consulta.exportar('pdf');" ><i class="icone-pdf"></i> Exportar PDF </button>				
	</div>	

</div>