<div id="loading_screen" ng-show="ctrl_consulta.isLoading"><img src="resources/images/loader.gif" alt="Carregando..."><h5>Por favor aguarde...</h5></div>

<div style="max-width:385px; text-align: center;">

	<div class="window-body2 panel-body" >
	
	    <div class="panel panel-default">
	      <div class="panel-heading">Feições Gráficas - MUB / Filtros</div>
	      <div class="panel-body">
	        <dl class="dl-horizontal">
	            <dt>UF:</dt><dd class="ng-binding" style="text-align: left">{{ctrl_consulta.filtroFeicoesGraficasMUB.estado.nome}}</dd>
	            <dt ng-show="ctrl_consulta.filtroFeicoesGraficasMUB.municipio.nome && ctrl_consulta.filtroFeicoesGraficasMUB.municipio.nome != ''">Município:</dt><dd class="ng-binding" style="text-align: left">{{ctrl_consulta.filtroFeicoesGraficasMUB.municipio.nome}}</dd>
	            <dt ng-show="ctrl_consulta.filtroFeicoesGraficasMUB.localidade.nome && ctrl_consulta.filtroFeicoesGraficasMUB.localidade.nome != ''">Localidade:</dt><dd class="ng-binding" style="text-align: left">{{ctrl_consulta.filtroFeicoesGraficasMUB.localidade.nome}}</dd>
	            <dt ng-show="ctrl_consulta.filtroFeicoesGraficasMUB.descricaoSituacaoUsuario && ctrl_consulta.filtroFeicoesGraficasMUB.descricaoSituacaoUsuario != ''">Usuários:</dt><dd class="ng-binding" style="text-align: left">{{ctrl_consulta.filtroFeicoesGraficasMUB.descricaoSituacaoUsuario}}</dd>
	            <dt ng-show="ctrl_consulta.filtroFeicoesGraficasMUB.usuario.nome && ctrl_consulta.filtroFeicoesGraficasMUB.usuario.nome != ''">Nome:</dt><dd class="ng-binding" style="text-align: left">{{ctrl_consulta.filtroFeicoesGraficasMUB.usuario.nome}}</dd>
	            <dt ng-show="(ctrl_consulta.filtroFeicoesGraficasMUB.dataInicioFormatada && ctrl_consulta.filtroFeicoesGraficasMUB.dataInicioFormatada != '') || (ctrl_consulta.filtroFeicoesGraficasMUB.dataFimFormatada && ctrl_consulta.filtroFeicoesGraficasMUB.dataFimFormatada != '')">Período:</dt><dd class="ng-binding" style="text-align: left">{{ctrl_consulta.filtroFeicoesGraficasMUB.dataInicioFormatada}}<span ng-show="ctrl_consulta.filtroFeicoesGraficasMUB.dataFimFormatada && ctrl_consulta.filtroFeicoesGraficasMUB.dataFimFormatada != ''"> até </span>{{ctrl_consulta.filtroFeicoesGraficasMUB.dataFimFormatada}}</dd>
	        </dl>
	      </div>
	    </div>
    	
		<table class="table table-bordered table-striped table-hover">
			<tr id="order_consultaBasica">
				<th style="width: 10px; background-color: darkgrey;"><input type="checkbox" ng-model="ctrl_consulta.checkAllFeicoesGraficasMUB" ng-click="ctrl_consulta.checkAllAtributos()" /></th>
				<th style="background-color: darkgrey; width: 190px;">Feições Gráficas - MUB</th>
				<th style="background-color: darkgrey; width: 130px; text-align: center;">{{ctrl_consulta.filtroFeicoesGraficasMUB.localSelecionado}}</th>
			</tr>
		    <tr ng-repeat="item in ctrl_consulta.listAtributosFeicoesGraficasMUB">
		    	<td style="width: 10px;"><input type="checkbox" ng-model="item.checked" ng-change="ctrl_consulta.checkAtributo(item, item.checked)" ng-click="ctrl_consulta.checkAllFeicoesGraficasMUB = false" /></td>
		    	<td style="text-align: left;">{{item.descricao}}</td>
		    	<td style="text-align: center;">{{item.quantidade}}</td>
		    </tr>	    	    		
		</table>
	</div>
	<div>
		<button type="button" class="btn btn-default btn-sm" ng-click="ctrl_consulta.consultar();">Consultar</button>&nbsp;
		<button type="button" class="btn btn-default btn-sm" ng-click="ctrl_consulta.limpar()">Limpar</button>&nbsp;
		<button id="btnExportarExcel" type="button" class="btn btn-default btn-sm" ng-disabled="!ctrl_consulta.habilitarBtnExportarFeicoesGraficasMUB"
			ng-click="ctrl_consulta.exportar('excel');" ><i class="icone-excel"></i> Exportar Excel </button>
		<button id="btnExportarPDF" type="button" class="btn btn-default btn-sm" ng-disabled="!ctrl_consulta.habilitarBtnExportarFeicoesGraficasMUB"
			ng-click="ctrl_consulta.exportar('pdf');" ><i class="icone-pdf"></i> Exportar PDF </button>				
		
	</div>	
	
</div>