<div class="window-body panel-body">

    <div class="row">
        <div class="col-xs-12">
            <div class="list-group">
              <a class="list-group-item" href="#">
                  <span class="pull-left">
					<i class="icone32-kml"></i>&nbsp;&nbsp;&nbsp;
                  </span>
                <h4 class="list-group-item-heading">KML</h4>
                <p class="list-group-item-text">Formato utilizado pelo software Google Earth para visualização de dados geográficos.</p>
              </a>
              <a class="list-group-item" href="#">
                  <span class="pull-left">
					<i class="icone32-wms"></i>&nbsp;&nbsp;&nbsp;
                  </span>
                <h4 class="list-group-item-heading">Serviço WMS</h4>
                <p class="list-group-item-text">Acesso a mapas de servidores remotos utilizando o protocolo WMS.</p>
              </a>
              <a class="list-group-item" href="#">
                  <span class="pull-left">
					<i class="icone32-csv"></i>&nbsp;&nbsp;&nbsp;
                  </span>
                <h4 class="list-group-item-heading">Demais fontes de Dados</h4>
                <p class="list-group-item-text">Acesso a fontes de dados externas: arquivos xls, odp e csv.</p>
              </a>
            </div>
        </div>
    </div>  

</div>
