<div class="window-body panel-body">

<div class="row">
  <div class="col-lg-3">
  	<label for="">Cabo:</label>
    <div class="input-group">
      <div class="input-group-btn">
        <button type="button" class="btn btn-default dropdown-toggle btn-sm" data-toggle="dropdown">Igual <span class="caret"></span></button>
        <ul class="dropdown-menu">
          <li><a href="#">Igual</a></li>
          <li><a href="#">Que contenha</a></li>
        </ul>
      </div><!-- /btn-group -->
      <input type="text" class="form-control input-sm">
    </div><!-- /input-group -->
  </div><!-- /.col-lg-3 -->
  
  <div class="col-lg-3">
  	<label for="">Estação:</label>
    <div class="input-group">
      <div class="input-group-btn">
        <button type="button" class="btn btn-default dropdown-toggle btn-sm" data-toggle="dropdown">Que cont. <span class="caret"></span></button>
        <ul class="dropdown-menu">
          <li><a href="#">Igual</a></li>
          <li><a href="#">Que contenha</a></li>
        </ul>
      </div><!-- /btn-group -->
      <input type="text" class="form-control input-sm">
    </div><!-- /input-group -->
  </div><!-- /.col-lg-3 -->

  <div class="col-lg-3">
  	<label for="">Capacidade:</label>
    <div class="input-group">
      <div class="input-group-btn">
        <button type="button" class="btn btn-default dropdown-toggle btn-sm" data-toggle="dropdown">Igual <span class="caret"></span></button>
        <ul class="dropdown-menu">
          <li><a href="#">Igual</a></li>
          <li><a href="#">Maior que</a></li>
          <li><a href="#">Menor que</a></li>
        </ul>
      </div><!-- /btn-group -->
      <input type="text" class="form-control input-sm">
    </div><!-- /input-group -->
  </div><!-- /.col-lg-3 -->
  
  <div class="col-lg-3">
  	<label for="">Pares ocupados:</label>
    <div class="input-group">
      <div class="input-group-btn">
        <button type="button" class="btn btn-default dropdown-toggle btn-sm" data-toggle="dropdown">Maior que <span class="caret"></span></button>
        <ul class="dropdown-menu pull-right">
          <li><a href="#">Igual</a></li>
          <li><a href="#">Maior que</a></li>
          <li><a href="#">Menor que</a></li>
        </ul>
      </div><!-- /btn-group -->
      <input type="text" class="form-control input-sm">
    </div><!-- /input-group -->
  </div><!-- /.col-lg-3 -->
</div>
