<div ng-controller="topo">

	<div id="topo-titulo">
	    <div id="titulo" class="pull-left"></div>
	    <div id="logo" class="pull-right"></div>
	    <a href="#" class="center-block" id="btn-topo-fecha" ></a>
	    <a href="#" class="center-block" id="btn-topo-abre" ></a>
	</div>
	
	<div id="topo-iniciar">
	    
	    <div id="topo-usuario" class="btn-group pull-right">
	      <button type="button" class="btn btn-usuario btn-link dropdown-toggle btn-sm" data-toggle="dropdown">
	         {{ctrl_init.usuario.nome}} <span class="caret"></span>
	      </button>
	      <ul class="dropdown-menu" role="menu">
	        <li><a href="/geoestatistica/logout" >Sair</a></li>
	      </ul>
	    </div>
	
    </div>
    
</div>