<div id="treeview-layers">
   <a class="list-group-item btn-menu-basico btn-menu-item1" style="text-align: center;">Escolha o tipo da Consulta:</a>
	<div class="window-body2 panel-body window-menu">
	
		    <div class="row" ng-repeat="item in ctrl_consulta.listTiposConsulta">
			    <div class="col-xs-11">
			    	<input type="radio" name="radioTipoConsulta" ng-checked="item.checked" ng-click="ctrl_consulta.alterarTipoConsulta(item.id)" />
			        <label for="exemplo-id-select">{{item.descricao}}</label>
			    </div>
		    </div><!-- /row --> 
		
	</div>   
	<br/>
	
   <a class="list-group-item btn-menu-basico btn-menu-item1" style="text-align: center;">Escolha os filtros a serem aplicados</a>
	<div class="window-body2 panel-body window-menu">
		<div class="row">
            <div class="col-xs-11">
                <h4>Localidade</h4>
            </div>
        </div><!-- /row -->
		<div class="row">
		    <div class="col-xs-11">
		        <label for="exemplo-id-select">UF<span class="text-danger">*</span>: <span class="text-muted">(A escolha de uma UF é obrigatória)</span></label>
	            <select class="form-control input-sm" ng-model="ctrl_consulta.estado" ng-options="item.nome for item in ctrl_consulta.listEstados" ng-change="ctrl_consulta.loadMunicipios()" required>
	                <option value="">Selecione uma UF</option>
	            </select>
		    </div>
		</div><!-- /row -->
		<div class="row">
		    <div class="col-xs-11">
		        <label for="exemplo-id-select">Município:</label>
	            <select class="form-control input-sm" ng-model="ctrl_consulta.municipio" ng-options="item.nome for item in ctrl_consulta.listMunicipios" ng-change="ctrl_consulta.loadLocalidades()">
	                <option value="">Selecione um Município</option>
	            </select>
		    </div>
		</div><!-- /row -->
		<div class="row">
		    <div class="col-xs-11">
		        <label for="exemplo-id-select">Localidade:</label>
	            <select class="form-control input-sm" ng-model="ctrl_consulta.localidade" ng-options="item.nome for item in ctrl_consulta.listLocalidades">
	                <option value="">Selecione uma Localidade</option>
	            </select>
		    </div>
		</div><!-- /row -->
		
		<div class="row">
            <div class="col-xs-11">
                <h4>Usuário</h4>
            </div>
        </div><!-- /row -->	
		<div class="row">
		    <div class="col-xs-11">
		    	<input type="radio" name="radioSituacaoUsuario" value="AT" ng-model="ctrl_consulta.situacaoUsuario" ng-change="ctrl_consulta.loadUsuarios()" />
		        <label for="exemplo-id-select">Ativos</label>
		    	<input type="radio" name="radioSituacaoUsuario" value="" ng-model="ctrl_consulta.situacaoUsuario" ng-change="ctrl_consulta.loadUsuarios()" />
		        <label for="exemplo-id-select">Todos</label>		        
		    </div>
		</div><!-- /row -->         
		<div class="row">
		    <div class="col-lg-11">
			  	<label for="">Nome:</label>
	            <select class="form-control input-sm" ng-model="ctrl_consulta.usuario" ng-options="item.nome for item in ctrl_consulta.listUsuarios">
	                <option value="">Selecione um Usuário</option>
	            </select>
	  		</div><!-- /.col-lg-6 -->
		</div><!-- /row --> 
		
		<div class="row">
		    <div class="col-xs-11">
		        <h4>Período</h4>
		    </div>
		</div><!-- /row -->
		<div class="row">
		    <div class="col-xs-11">
		        <label for="exemplo-id-select">Data Início:</label>
				<div class="input-append date" id="datepickerInicio" data-date-format="dd/mm/yyyy">
				  <input class="span2" size="16" type="text" ng-model="ctrl_consulta.dataInicio">
				  <span class="add-on"><i class="glyphicon glyphicon-calendar"></i></span>
				</div>		        
<!-- 			    <input type="text" class="form-control input-sm" id="datepickerInicio" ng-model="ctrl_consulta.dataInicio" > -->
				<script type="text/javascript">
					$(function(){
						 var options = new Array();
						 options['language'] = 'pt-BR';
						 options['format'] = 'dd/mm/yyyy';
						 options.onRender = function(date) {
						    return 'disabled';
						 }
						 $('#datepickerInicio').datepicker(options).on('changeDate', function(ev){
						     var scope = angular.element($('#datepickerInicio')).scope();
						     scope.$apply(function(){
						    	scope.$parent.ctrl_consulta.dataInicio = ev.date;
						     });							 
						 });
					})
				</script>			    
		    </div>		    
		</div><!-- /row -->
		<div class="row">
		    <div class="col-xs-11">
		        <label for="exemplo-id-select">Data Fim:</label>
				<div class="input-append date" id="datepickerFim" data-date-format="dd/mm/yyyy">
				  <input class="span2" size="16" type="text" ng-model="ctrl_consulta.dataFim">
				  <span class="add-on"><i class="glyphicon glyphicon-calendar"></i></span>
				</div>
				<script type="text/javascript">
					$(function(){
						 var options = new Array();
						 options['language'] = 'pt-BR';
						 options['format'] = 'dd/mm/yyyy';
						 $('#datepickerFim').datepicker(options).on('changeDate', function(ev){
						     var scope = angular.element($('#datepickerFim')).scope();
						     scope.$apply(function(){
						    	scope.$parent.ctrl_consulta.dataFim = ev.date;
						     });							 
						 });
					})
				</script>				    
		    </div>
		</div><!-- /row -->
		<br/>
<div style="text-align: center;"
	<button type="button" class="btn btn-primary btn-sm pull-right" style="" ng-click="ctrl_consulta.aplicarFiltros();">Aplicar filtros</button>
</div>
		  
	</div>  	
</div>